#?delimiters <%,%>,<%=,%>
<%
setXMLOutput()
def unitId = unit["id"]
%>

<Descriptor service="com.webratio.units.custom.openidloginunit.OpenIdLoginUnitService">
   <% printRaw(serializeXML(unit, false)) %>
</Descriptor>